.d-block {
  display: block;
}

.d-grid {
  display: grid;
}

@media (min-width: 991px) {
  .d-lg-none {
    display: none !important;
  }
  .d-lg-block {
    display: block !important;
  }
}

.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.d-none {
  display: none;
}

.align-items-center {
  align-items: center;
}

.justify-content-between {
  justify-content: space-between;
}
