:root {
  --mh-primary: #0abf53;
  --mh-black-rgb: 0, 0, 0;
  --mh-dark-rgb: 45, 55, 75;
}

@font-face {
  font-family: eksho-light;
  src: url(../assets/fonts/eksho-regular.otf);
}
@font-face {
  font-family: jt-bold;
  src: url(../assets/fonts/eksho-bold.otf);
}
